@{
    ViewData["Title"] = "About";
}
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about bg-dark text-white">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2 class="greenTitles">About</h2>
                <a href="~/assets/EvanNoelITResume.pdf" class="btn-about" target="_blank">Take a look at my resum&eacute</a>
                <br>
                <br>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="~/assets/myimages/Prof-headshot-2.jfif" class="img-fluid headshot" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content abt-content">
                    <h3 class="text-light">Full Stack Developer</h3>
                    <br>
                    <p class="fst-italic">
                        Learning Full Stack Web Development as a career. Exploring NLP in the life sciences as my passion.
                    </p>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-rounded-right"></i> <strong>Phone: </strong> +1 (417) 825-3397 </li>
                                <li><i class="bi bi-rounded-right"></i> <strong>City: </strong> Kansas City, MO, USA</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Age: </strong> 29</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-rounded-right"></i> <strong>Degree: </strong> Bachelor's: Biochem and Cell</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Email: </strong> evannoel1993@gmail.com</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Freelance: </strong> Available</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <p>
                        Web development is challenging and exciting -no problem is ever the same as the next, and this keeps me engaged. I'm ecstatic to begin my new career as a junior developer!
                        Previous experience in Molecular Biology. I'm interested in applying NLP to project planning and viability assessments in the Life Sciences.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">

        <div class="container skills-table">
            <div class="row text-center skills-header">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2>Skills</h2>
                    <hr />
                    <br>
                </div>
            </div>
            <div class="row text-center skills-bottom">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h3>Development</h3>
                    <hr />
                    <p>HTML &amp; CSS, C#, JavaScript, React, Bootstrap</p>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h3>Data Science</h3>
                    <hr />
                    <p>Python, Pandas, SQL, Database Management, Jupyter Notebooks, Regex</p>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h3>General</h3>
                    <hr />
                    <p>.NET Core, Unit Testing, Software Development Lifecycle, Agile Scrum Methodology</p>
                </div>
            </div>
        </div>
    </section><!-- End Skills Section -->


</main><!-- End #main -->