@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-xl-start" data-aos="zoom-in" data-aos-delay="100">
        <h1>Evan Noel</h1>
        <h2 class="index-text">I'm a full-stack developer.</h2>
        <a href="about.html" class="btn-about">Learn More About Me</a>
    </div>
</section><!-- End Hero -->
