@{
    ViewData["Title"] = "Resume"; //Add the accented e
}
<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume bg-dark text-light">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2 class="greenTitles">Resum&eacute</h2>
                <p>
                    NET Core MVC Framework <span>|</span>
                    Full Stack Web Application Design <span>|</span>
                    C# Fundamentals <span>|</span>
                    JavaScript <span>|</span>
                    Database Management <span>|</span>
                    Unit Testing <span>|</span>
                    Software Development Lifecycle <span>|</span>
                    Agile Scrum Methodology
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Evan Noel</h4>
                        <p><em>Eager and hungry Full Stack Developer. New to the industry and looking for opportunities to hone my skills and gain impactful and fulfilling experiences.</em></p>
                        <ul>
                            <li>Buckingham ln, Kansas City, MO</li>
                            <li>(417) 825-3397</li>
                            <li>evannoel1993@gmail.com</li>
                        </ul>
                        </p>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Full Stack Coding Program</h4>
                        <h5>10/2022 - 01/2023</h5>
                        <p><em>Centriq, Kansas City, MO</em></p>
                        <p> .NET Core MVC Framework, Troubleshooting & Debugging, Source Control, Agile/Scrum (Created Team Project), Website Deployment, Pair Programming, Code Review</p>
                    </div>
                    <div class="resume-item">
                        <h4>Bachelors in Chemistry | Biochemistry </h4>
                        <h5>08/2012 - 05/2017</h5>
                        <p><em>Pittsburg State University, Pittsburg, KS</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>Bachelors in Biology | Cell Biology </h4>
                        <h5>08/2012 - 05/2017</h5>
                        <p><em>Pittsburg State University, Pittsburg, KS</em></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Intuition Study Support</h4>
                        <h5>04/2022-10/2022</h5>
                        <p><em>IQVIA, Overland Park, KS</em></p>
                        <p>
                            Clinical, PHI, Task Management, Interpersonal skills, Problem Solving, Technical Support for
                            Participants, Fully Digital Brain Health Study, Jira, Introduction to Agile Methodologies and Dev Ops
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Utility Locator</h4>
                        <h5>10/2021-04/2022</h5>
                        <p><em>USIC, Lees Summit, MO</em></p>
                        <p> Task Management, Basic Knowledge of GIS</p>
                    </div>
                    <div class="resume-item">
                        <h4>Assistant Scientist</h4>
                        <h5>05/2021-09/2021</h5>
                        <p><em>MRIGlobal, Kansas City, MO | Aerotek Contract</em></p>
                        <p>
                            Good Documentation Practices (GDP), QuantStudio q-PCR, 3D q-PCR, ThermoFisher technologies,
                            Clinical, Client deadlines, Task Management
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Clinical Laboratory Quality</h4>
                        <h5>08/2020-03/2021</h5>
                        <p><em>Viracor-Eurofins| Aerotek Contract</em></p>
                        <p>
                            Clinical, PHI, Utilization and navigation of company Laboratory Information Management System
                            (STAR-LIMS)
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Inventory Control</h4>
                        <h5>03/2020-08/2020</h5>
                        <p><em>Pure Fishing inc. | Prologistix Contract</em></p>
                        <p>SAP, Task Management, Inventory Management and Databases</p>
                    </div>
                </div>
                <div class="col-lg-12 resume-list">
                    <h3>Additional Roles</h3>
                    <ul>
                        <li>
                            Graduate Student Researcher, UTSW Medical Center 04/2019-09/2019,
                            08/2017-04/2018
                        </li>
                        <li>Post-Bac. Internship (Molecular Biophysics/Biochem Dept.), Yale University 05/2017-08/2017</li>
                        <li>Undergrad Research Experiment (Biochem Dept.), University of Arkansas 06/2016-08/2016</li>
                        <li>Biochemistry Lab Teacher’s Assistant, Pittsburg State University 08/2016-12/2016</li>
                        <li>Chemistry Stock Room, Pittsburg State University 08/2016-12/2016</li>
                        <li>
                            Undergraduate Researcher, Pittsburg State University 12/2015-05/2017,
                            10/2014-12/2015
                        </li>
                    </ul>
                </div>
                <br>
                <article>
                    <h3>Publication</h3>
                    <ul>
                        <li>
                            Kasiri S, Chen B, Wilson AN, Reczek A, Mazambani S, Gadhvi J, Noel E, Marriam U, Mino B, Lu W, Girard L,
                            Solis LM, Luby-Phelps K, Bishop J, Kim JW, Kim J. Stromal Hedgehog pathway activation by IHH suppresses
                            lung adenocarcinoma growth and metastasis by limiting reactive oxygen species. Oncogene. 2020
                            Apr;39(16):3258-3275. doi: 10.1038/s41388-020-1224-5. Epub 2020 Feb 27. PMID: 32108165; PMCID:
                            PMC7160060.
                        </li>
                    </ul>
                </article>
            </div>

        </div>
    </section><!-- End Resume Section -->

</main><!-- End #main -->